.container {
  display: flex;
  border: 1px, solid, black;
  flex-wrap: wrap;
  background-color: darkslategray;
  grid-template-rows: 1;
  border-radius: 5px;
  width: auto;

}

.container div {
  color: white;
  padding: 10px;
  background-color: black;
  text-align: center;
  align-items: center;
  border: 2px solid white;

}

body {
  font-family: "Bebas Neue";
}

.login {
  height: 350px;
  width: 350px;
  border: 2px solid white;
  text-align: center;
  align-items: center;
}

#button1 {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 10px;
  background-color: gray;
  font-family: sans-serif;
  margin-left: 10px;
  color: white;
  font-family: 'Bebas Neue';
}